<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<form action="" method="post">
    <h3> Student Information</h3>
    <label for="name">Full Name</label><br>
    <input type="text" name="name" placeholder="Enter Your Name"/><br>
    <label for="city">City</label><br>
     <input type="text" name="city" placeholder="Enter Your City"/><br>
    <label for="location">Location</label><br>
     <input type="text" name="location" placeholder="Enter Your Location"/><br>
    <label for="email">Email ID</label><br>
     <input type="text" name="email" placeholder="Enter Your Email"/><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>