<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h3>
    <a href="{{url_for('show_all)}}"> Comments Flask SQL Example</a>
</h3>
<hr/>
{% for message in get_flashed_messages() %}
{{message}}
{% endfor %}

<h3> students (<a href="{{url_for('new)}}"> Add Student</a> )</h3>
<table>
    <thead>
    <tr>
        <th> Full Name</th>
        <th> City </th>
        <th> Location </th>
        <th> Email ID </th>
    </tr>
    </thead>

    <tbody>
    {% for student in students %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.city}}</td>
        <td>{{student.location}}</td>
        <td>{{student.email}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>